//- R00138984
//- Adrian Davidson
//- serverside frameworks

extends layout

block content
  +header
  +nav
  h1.page-header #{h1}
  .row
    each rowsOfImgs in row
      .col-xs-6.col-sm-3
        img.img-responsive(src= rowsOfImgs.thumbnailUrl, alt='imgs from database')
        h4= "€" + rowsOfImgs.price
        h4= "Date " + rowsOfImgs.dateText
        span.text-muted= rowsOfImgs.title
        .buy 
          button.btn.btn-xs.btn-info(type='button') Add To Cart
          .layout  
            td(data-th='Quantity')
              input.form-control.text-center(type='number', value='0')
          
  ul.pager
    li
      button(onclick='nextValue()') Next
    li
      button(onclick='prevValue()') Prev
      
  +shoppingCart
  
