extends layout


block content
  h1 #{title} 
  +address
   
  h3 Interests
  p have a strong interest in anything that requires gadgets, small or big. I often find myself fiddling with my raspberry pi I recently acquired, as well as technical interest I have sporting interests too. Soccer and freediving would be my preferred two. I was also a part of the Ballito surf & Lifesaving club for 2 years, I was actively involved on the beach and training with other lifeguards.

    h3 Projects
  li Developed a mock-up of a system to allocate students to work placement.
  br
  li We had to take into account how many students could be allocated to one company, how long it would take for the company to respond to the Co-ordinator, and how long this process should take.
  br
  li Using Visual Paradigm-Vpository we could work as a group and come up with the required ‘usecase statements’, ‘usecase diagrams’, ‘user stories’and the different ‘personas’ of who’d use this software.
  br
  li At the end of the project our group had to do a presentation on what we learnt.
  
    h3 Education
  li Cork Institute of Technology — BSc Web Development 2015 – Present
  br
  ul notable grades
      li Web Publishing - 78% 
      li Problem solving & Programming 69%
      li Database Systems 71%
      li Server-side web development 71%
  br
      
  
  
              
